#making a partial file to hold the category.name information as it access that propery of the category is easier to implement in a partial

<tr>
  <td>
    <h4><%= category.name %></h4>
    <br>
  </td>
</tr> 